#footer {
    background-color: #101519;
    padding: 7%;
    text-align: center;
  }
  
  .social-icon {
    margin: 20px 10px;
  }

  .mail-img {
    width: 22px;
    height: 22px;
    padding-left: 20px;
  }

  .text-center-footer {
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    text-shadow:

      0 0 .2rem #fff,
      0 0 30px #0fa,
      0 0 1px #0fa,
      0 0 1px #0fa;
  }

  .footer-container {
    text-align: center;
    margin-right: 23px;
  }