nav {

    background-color: #101519;
    border: 0.2rem solid #fff;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 .1rem #fff,
              0 0 .1rem #fff,
              0 0 1rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 1.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}

.nav-link-custom {

    text-shadow:

      0 0 .2rem #fff,
      0 0 30px #0fa,
      0 0 1px #0fa,
      0 0 1px #0fa;

    color: #fff;
    padding: 10px 20px; 
    text-transform: uppercase; 
  }

  .navbar-nav .nav-link {
    text-decoration: none;
  }
  
  .navbar {
position: fixed;
    top: 0;
    width: 97vw;
  }

  /* .sticky {
    position: sticky;
    top: 0;
  } */


  @media screen and (max-width: 767px) {
    .navbar {
      width: 89vw;
      overflow: visible;
    }

    .nav-link-custom {
      padding: 10px 10px;
      width: 75vw;
    }
    
  }